Repository AzimaKai/azima.github.io, pull requests merged in 2022-08, with the labels that each got.

#1 Update index.html
  index.html
Labels: html

#3 stakeholder-interviews
  .vscode/settings.json
  planning/paper-prototype
  planning/stakeholder-interviews.md
  public/screenshot.jpg
Labels: documentation

#5 add paper-prototype img
  planning/Web-Shop.png
Labels: planning
